@import '~antd/dist/antd.css';
@import url('https://fonts.googleapis.com/css?family=Inconsolata');

#root,#root > div, .App {
  height:100%;
}
.App {
  /* display: grid;
  grid-template-columns: auto;
  grid-template-rows: 200px auto; */
  position: relative;
  padding-top:255px;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: white;
  /* height: 150px; */
  padding: 20px;
  color: white;
  display: grid;
  grid-template-columns: 100px;
  grid-template-rows: 50px 50px;
  grid-template-areas: 
    "left topleft"
    "left bottomleft"
    "bottom bottom";
  justify-items:start;
  align-items: center;
  position: fixed;
  top:0;
  left:0;
  right:0;
  height: 255px;
  z-index:2;
}

.graph {
  grid-area: bottom;
  height: 100%;
  width: 100%;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.refreshbtn {
  grid-area: left;
  height: auto;
  align-self: stretch;
  justify-self: center;
}

.searchBar {
  grid-area: topleft;
  width: 600px;
}

.serachControls {
  grid-area: bottomleft
}

.timePicker {
  grid-area: topleft;
}

.consoleView {
  background: black;
  color:white;
  max-width: 100vw;
  padding-top: 20px;
  flex: 1 1 auto;
  min-height:100%;
}

.consoleRow {
    display: flex;
    font-size: 12px;
    font-family: 'Inconsolata', monospace;
    border-bottom: 1px solid transparent;
    padding:3px;
    align-items: center;
}

.consoleRow .roleName {
  margin-right:10px;
  width:98px;
  flex: 0 0 auto;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.consoleRow .hashtag {
  background: white;
  border-radius: 2px;
  color: black;
  padding: 2px 2px;
  cursor: pointer;
}

.consoleRow .hashtag:hover {
  text-decoration: underline;
}

.consoleRow .operation_Id {
  background: #272727;
  border-radius: 2px;
  color: #989898;
  padding: 2px 2px;
  cursor: pointer;
  font-size: 11px;
  width: 39px;
  text-overflow: ellipsis;
  overflow: hidden;
  margin-right: 5px;
}

.consoleRow .operation_Id:hover {
  text-decoration: underline;
}

.consoleRow .details {
  margin:0 5px;
  cursor:pointer;
}

.consoleRow .itemType {
  margin-left: auto;
}

.consoleRow .loglevel {
  color:black;
  margin-right: 5px;
  background: #b6b6b6;
  border-radius: 2px;
  padding:2px 5px;
  height:100%;
  cursor: pointer;
}

.consoleRow .loglevel:hover {
  text-decoration: underline;
}

.loglevel.error {
  background: #960000;
  color:white;
}
.loglevel.warning {
  background:yellow;
}
.loglevel.debug {
  background:#242424;
  
}


.consoleRow:hover {
  background: #242424;
}

.roleInstance {
  margin-right: 10px;
  color: green;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  width: 58px;
  flex: 0 0 auto;
}

.link:hover {
  text-decoration: underline;
  cursor: pointer;
}

.timestamp {
  color: yellow;
  margin-right: 20px;
  white-space: nowrap;
  width: 160px;
  text-align: left;
  flex: 0 0 auto;
}

.message {
  color: white;
  white-space: pre-wrap;
  text-align: left;
  word-break: break-all;
}

a.anchor {
  display: block;
  position: relative;
  top: calc(-255px - 3px); /* -3 is just for visual padding */
  align-self:start;
  visibility: hidden;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

